absl-py==1.1.0
argcomplete==1.10.3
asgiref==3.4.1
astor==0.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.10
click==8.1.3
compressed-rtf==1.0.6
cymem==2.0.6
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
Django==3.1.13
django-allauth==0.41.0
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-heroku==0.0.0
django-hitcount==1.3.2
django-resized==0.3.11
django-summernote==0.8.11.6
django-tinymce==3.4.0
docx2txt==0.8
easy-thumbnails==2.7
ebcdic==1.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
extract-msg==0.28.7
filelock==3.4.2
Flask==2.1.2
gast==0.5.3
grpcio==1.46.3
gunicorn==20.1.0
h5py==3.7.0
idna==3.3
IMAPClient==2.1.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
langcodes==3.3.0
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.1.1
murmurhash==1.0.7
numpy==1.22.4
oauthlib==3.1.1
olefile==0.46
packaging==21.3
pandas==1.4.2
pathy==0.6.1
pdfminer.six==20191110
Pillow==8.3.2
pipenv==2021.11.23
platformdirs==2.4.1
preshed==3.0.6
protobuf==4.21.1
pycryptodome==3.14.1
pydantic==1.8.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.3
python-pptx==0.6.21
python3-openid==3.2.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
requests-oauthlib==1.3.0
six==1.12.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SpeechRecognition==3.8.1
sqlparse==0.4.2
srsly==2.4.3
tensorboard==1.12.2
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl
termcolor==1.1.0
tesseract==0.1.3
textract==1.6.5
thinc==8.0.17
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
virtualenv==20.13.0
virtualenv-clone==0.5.7
wasabi==0.9.1
Werkzeug==2.1.2
whitenoise==5.3.0
xlrd==1.2.0
XlsxWriter==3.0.3
zipp==3.8.0
